@use 'header';
@use 'current-date.scss';

body{
    font-size: 18px;
}
h1,.h1{
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 0px 0px 20px 0px;

}
h2,.h2{
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0px 0px 20px 0px;
}
h3,.h3{
    font-size: 2rem;
    line-height: 2.5rem;
     margin: 0px 0px 20px 0px;
}
p{
    margin-top: 0px;
    margin-bottom:30px;
}
:root :where(.wp-block-button .wp-block-button__link){
    &:hover{
        border-color: transparent;
        background-color: var(--wp--preset--color--secondary);
    }
}
.page-template-home-page{
    main{
        margin-top: 0px;
        .home-title{
            display: none;
        }
        .entry-content{
            margin-top: 0px;
        }
    }
}

.site-footer{
    margin-top: 0px;
}

.wp-block-post-featured-image{
    img{
        height: 100%;
        object-fit: cover;
    }
}


@media screen and (max-width:1266px) {
    .kanopi-latest-post{
            grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width:768px) {
    body{
        font-size: 16px;
        line-height: 24px;
    }
    h1, .h1{
        font-size: 2.1rem;
        line-height: 2.5rem;
    }
    h2,.h2{
        font-size: 2rem;
    }
    h3{
        font-size:1.6rem;
        line-height: 2rem;
    }

    .footer-top-row{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}


@media only screen and (max-width:767px) {
     .kanopi-latest-post{
            grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}